body{
    background: linear-gradient(35deg,#CCFFFF,#FFCCCC);
    
}
main{
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
}
h1{
    text-align: center;
    color: rgb(241, 18, 130);
}
.item{
    display: flex;
    width:380px;
    height: 30px;
    min-height: 30px;
    position: relative;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    list-style: none;
    padding: 0;
    margin: 0;
}
.checked{
    text-decoration: line-through;
}
i{
    margin: 4px;
    padding: 2px;
}
.trash{
    width: 20%;
    color: red;
    margin-left: auto;
}